/* Container for logo and heading */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 15px 20px;
    margin: 0;
    width: 95%;
    max-width: 95%;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Styling for the logo */
.header img {
    width: 35px;
    max-height: 35px;
    margin-right: 5px;
    margin-top: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.header img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
}

/* Heading Styling */
.header h1 {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    color: #333;
    margin: 0px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.header h1:hover {
    color: #007bff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .header h1 {
        font-size: 1rem;
        padding-left: 0;
        margin-top: 10px;
    }
}

/* Navigation Menu */
nav ul {
    display: flex;
    list-style: none;
    font-size: 15px;
    margin-right: 20px;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #007bff;
    transition: width 0.3s ease;
}

nav ul li a:hover {
    color: #007bff;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Paragraph Styling */
div p {
    padding: 0px 30px;
    word-spacing: 8px;
    line-height: 30px;
    font-size: 15px;
    margin: 5px;
}

/* Headings Styling */
h3 {
    padding: 5px 30px;
    font-size: 15px;
    color: #333;
}

h2 {
    padding: 5px 30px;
    font-size: 20px;
    color: #333;
}

/* Table Styling */
.table-seba {
    width: 100%;
    max-width: 1000px;
    border-collapse: separate;
    border-spacing: 0 15px;
    margin: 0 auto;
}

.table-seba thead {
    background-color: #3b7b76;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-radius: 10px 0 0 10px;
}

.table-seba th,
.table-seba td {
    padding: 12px 15px;
    border: none;
}

.table-seba th {
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.table-seba tbody tr {
    background-color: #eaeae4;
    border-bottom: 2px solid #d0d0d0;
}

.table-seba tbody tr:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(59, 123, 118, 0.5);
    border-radius: 30px;
}

.table-seba tbody td {
    font-size: 15px;
    color: #212121;
    border-bottom: 1px solid #d0d0d0;
}

.table-seba thead th:first-child {
    border-radius: 10px 0 0 10px;
}

.table-seba thead th:last-child {
    border-radius: 0 10px 10px 0;
}

.table-seba tbody td:first-child {
    border-radius: 10px 0 0 10px;
}

.table-seba tbody td:last-child {
    border-radius: 0 10px 10px 0;
}

.table-seba tbody td:nth-child(4) {
    color: #00796b;
    font-weight: bold;
}

.table-seba tbody tr:nth-child(even) {
    background-color: #e2e7e2;
}

.table-seba caption {
    caption-side: top;
    font-size: 20px;
    margin-bottom: 10px;
    color: #00796b;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: left;
    width: 100%;
}

/* Table Padding */
table {
    padding-left: 40px;
    padding-right: 40px;
}

/* Accordion Header */
#bach14-header {
    cursor: pointer;
    user-select: none;
    color: blue;
}

#bach14-header:hover {
    text-decoration: underline;
}

#bach14-content {
    display: none;
}

/* Footer */
footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.contact-info, .contact-us {
    margin: 20px auto;
    max-width: 600px;
}

.contact-info h2, .contact-us h2 {
    color: #ffa500;
    text-align: center;
}

.contact-info p, .contact-us p {
    margin: 5px 0;
    font-size: 14px;
    color: #626262;
    text-align: center;
}

.contact-info a, .footer-info a {
    color: #FFA500;
    text-decoration: none;
}

.contact-info a:hover, .footer-info a:hover {
    text-decoration: underline;
}

.contact-us form {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
}

.contact-us input, .contact-us textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #444;
    background-color: #333;
    color: #fff;
}

.contact-us button {
  
    background-color: #FFA500;
    padding: 10px;
    margin: 5px 0;
    width: 106%;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-us button:hover {
    background-color: #e69500;
}

/* HTML and Body */
/* Ensure the body and html take full width and prevent overflow */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 10px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-info ul {
    list-style: none;
    padding: 0;
    font-weight: normal;
}

.footer-info ul li {
    display: inline;
    margin: 0 10px;
}

.footer-info p {
    margin-top: 10px;
    font-size: 11px;
    color: #999;
}

.footer-info a:hover {
    text-decoration: none;
}
