/* html, body */
html, body {
    height: 100%;
    margin: 0;
   
    overflow-x: hidden; /* Prevent horizontal scrolling */
      }

body {
    display: flex;
    flex-direction: column;
    background-image: url('bg2.jpg');
}

.content {
    flex: 1; /* This will make the content area grow and take up the available space */
}




/* header section  */
.i {
    display: flex;
    
}
/* heading name */
.i h1 {
    margin-top: 12px; /* Reset margin */
    margin-left: 10px; /* Add spacing between the logo and the text */
    font-size: 18px;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease, text-shadow 0.3s ease;
    text-decoration: none;

}
/* logo image  */
.i img {
    margin-left: 5px;
    height: 25px; 
    margin-top: 12px;
}

.i img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
    transition: all 0.3s;
}

/* header menu a */
.header{
    position: fixed;
    background-image: url('bg2.jpg');
}

.ii {
    display: flex;
    align-items: left; /* Center items vertically */
    justify-content: left; /* Align items to the right */
}

.ii a {
    color: #4a4949;
    margin-left: 0px; /* Add space between navigation items */
}
/* space After header */

/* pc view  */
.iii h1{

    height: 20px;
}
/* mobile view  */
.iv h1{

    height: 60px;
}






/* .header{
    padding: 0px 0; 
} */


/* .header h1 {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    color: #333;
    margin-top: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease, text-shadow 0.3s ease;
} */

.header h1:hover {
    color: #007bff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

/* Responsive Design */
/* @media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .header h1 {
        font-size: 1rem;
        padding-left: 0;
        margin-top: 10px;
    }
} */

/* Navigation Menu */
/* nav ul {
    display: flex;
    list-style: none;
    font-size: 15px;
    margin-right: 100px;
    margin-top: 0px;
}

nav ul li {
    margin-left: 10px;
    padding-top: 0px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
    position: relative;
    text-align: center;
    margin-top: 0px;
    font-size: 13px;
} */

/* Navigation Menu */
nav ul li a {
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 0;
    height: 1px;
    border-radius: 0.5px;
    background-color: #045bbd;
    transition: width 0.3s ease;
}





nav ul li a:hover {
    color: #045bbd;
}

nav ul li a:hover::after {
    width: 100%;
}


nav ul {
    display: flex;
    list-style: none;
    font-size: 15px;
    margin-right: 0px;
    margin-top: 0px;
    justify-content: left;
    padding-left: 0px;
}

nav ul li {
    margin-left: 10px;
    padding: 10px
}

/* #main-menu li {
    display: inline-block; /* Arrange list items horizontally 
    margin-right: 15px;    Space between each list item 
  } */


/* Paragraph Styling */
div p {
    padding: 0px 30px;
    word-spacing: 4px;
    line-height: 30px;
    font-size: 12px;
    margin: 5px;
    color: #4b4b4bdc;
}

h3 {
    padding: 5px 30px;
    font-size: 15px;
    color: #333;
}

h2 {
    padding: 5px 30px;
    font-size: 14px;
    color: #454444;
}


/* Table Styling */
.table-seba {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-bottom: 100px;
}

/* Media query for mobile view */
@media (max-width: 768px) {
    .table-seba {
        overflow-x: auto; /* Enable horizontal scrolling on small screens */
        display: block;   /* Ensure the table is treated as a block-level element */
        margin: 10px 0px;   /* Optional: Add some margin to ensure the table doesn't touch the edges */
        justify-content: left;
        border-spacing: 0 0px;
    }

    .table-seba {
        width: 100%; /* Ensure the table takes up 100% of the container width */
        border-spacing: 0; /* Adjust spacing for mobile if necessary */
    }
}


.table-seba thead {
    background-color: #3b7b76;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-radius: 10px 0 0 10px;
}

.table-seba th,
.table-seba td {
    padding: 12px 15px;
    border: none;
}

.table-seba th {
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.table-seba tbody tr {
    background-color: #eaeae4;
    border-bottom: 2px solid #d0d0d0;
}

.table-seba tbody tr:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(59, 123, 118, 0.5);
    border-radius: 30px;
    transition: all 0.3s;
}

.table-seba tbody td {
    font-size: 15px;
    color: #212121;
    border-bottom: 1px solid #d0d0d0;
}

.table-seba thead th:first-child {
    border-radius: 10px 0 0 10px;
}

.table-seba thead th:last-child {
    border-radius: 0 10px 10px 0;
}

.table-seba tbody td:first-child {
    border-radius: 10px 0 0 10px;
}

.table-seba tbody td:last-child {
    border-radius: 0 10px 10px 0;
}

.table-seba tbody td:nth-child(4) {
    color: #00796b;
    font-weight: bold;
}

.table-seba tbody tr:nth-child(even) {
    background-color: #e2e7e2;
}

.table-seba caption {
    caption-side: top;
    font-size: 20px;
    margin-bottom: 10px;
    color: #00796b;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: left;
    width: 100%;
}
.img-fluid{
    width: 100px;
    height: 100px;
}

/* Table Padding */
table {
    padding-left: 40px;
    padding-right: 40px;
}

/* Accordion header */
#bach14-header {
    cursor: pointer;
    user-select: none;
    color: blue;
}

#bach14-header:hover {
    text-decoration: underline;
}

#bach14-content {
    display: none;
}





/* contact section */


.contact-info {
    margin: 20px auto;
    max-width: 600px;
}

.contact-info h2, .contact-us h2 {
    color: #ffa500;
    text-align: center;
    font-size: 15px;
}


.contact-info p, .contact-us p {
    margin: 5px 0;
    font-size: 14px;
    color: #626262;
    text-align: center;
}

.contact-info a{
    color: #363534de;
    text-decoration: none;
    text-align: center;
}

.contact-info a:hover {
    text-decoration: underline;

}

.contact-us form {
    display: flex;
    flex-direction: column;
    width: 100vph;
    margin: 50px;
}



.contact-us input, .contact-us textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #444;
    border-radius: 15px;
    background-color: #333;
    color: #fff;
}


.contact-us button {
  
    background-color: #FFA500;
    padding: 10px;
    border-radius: 15px;
    margin: 5px 0;
    width: 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-us button:hover {
    background-color: #f7b80c;
}



/* .contact-us button {
    background-color: #FFA500;
    padding: 10px 2px;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 20px;

    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

} */

.contact-us button:hover {
    background-color: #f7b80c;
}





.container-fluid ul {
    list-style: none;
    padding: 0;
    font-weight: normal;
}



.container-fluid p {
    font-size: 11px;
    color: #999;
}

.container-fluid a:hover {
    text-decoration: none;
    text-align: center;
} */

footer {
    text-align: center;
    margin-top: 50px;
    flex-shrink: 0;
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    /* Add more styling as needed */
    width: 100%; /* Full width */
    max-width: 1200px; /* Optional: limit maximum width */
    margin: 0 auto; /* Center align if max-width is used */
}

footer {
    text-align: center;
    margin-top: auto;
    flex-shrink: 0;
    background-color: #333;
    text-align: center;
    padding: 10px 0;
 
}





/* menu  */

.footer li a {
    color: #dc9553;
}

.footer nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 0;
    height: 1px;
    border-radius: 0.5px;
    background-color: #eea20adf;
    transition: width 0.3s ease;
}

 .footer nav ul li a:hover {
    color: #d09412;
}

.footer nav ul li a:hover::after {
    width: 100%;
}

.footer p{
    color: #dbd7d7;
}
    